<div class="event">
        <div class="content">
                <div class="summary">
                        <em>  <%= messeges.user,username%></em>:
                            <%= messege.body %>
                 </div>
                 
        </div>
 </div>
                